.book-item {
  padding: 0.4rem;
  display: flex;
  margin-bottom: 0.2rem;
}

.book-item:nth-child(odd) {
  background-color: #f0f0f0;
  margin-top: 0;
}

.book-item:nth-child(even) {
  background-color: #fff;
}

h5 {
  width: 15%;
}

.delete-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.border-dark {
  border: 4px solid black;
}

.delete {
  border: 3px solid black;
  background-color: #fff;
  color: black;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 3px 2px;
  line-height: 1.5rem;
}

.line {
  width: 150px;
  height: 3px;
  background-color: black;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8rem;
}

input {
  border: 2px solid black;
}

input::placeholder {
  color: black;
}

[type~="submit"] {
  border: 2px solid black;
  background-color: #fff;
  box-shadow: 3px 2px;
  font-weight: 500;
}
