body {
  width: 100%;
}

.book-item {
  padding: 0.4rem;
  display: flex;
  margin-bottom: 0.2rem;
}

.book-item:nth-child(odd) {
  background-color: #f0f0f0;
  margin-top: 0;
}

.book-item:nth-child(even) {
  background-color: #fff;
}

h5 {
  width: 15%;
}

.delete-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.border-dark {
  border: 4px solid black;
}

.delete {
  border: 3px solid black;
  background-color: #fff;
  color: black;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 3px 2px;
  line-height: 1.5rem;
}

input {
  border: 2px solid black;
}

input::placeholder {
  color: black;
}

[type~="submit"] {
  border: 2px solid black;
  background-color: #fff;
  box-shadow: 3px 2px;
  font-weight: 500;
}

.nav {
  display: flex;
  border: 2px solid black;
  margin: 0.2rem 1rem;
  padding: 0 0.2rem;
}

.nav-link {
  width: 60%;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid black;
}

.nav-link2 {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 1px solid black;
}

.nav-link2:last-of-type {
  border-right: none;
}

a, span {
  text-decoration: none;
  color: black;
}

span:active, span:hover, span:link, a:link {
  color: rgb(0, 110, 255);
}

#book-form {
  display: none;
}

#book-list {
  display: none;
}

#time {
  margin-left: auto;
  width: 20%;
  color: black;
}

.contact {
  display: none;
  width: 70%;
  color: black;
  margin: 0.5rem auto;
}

.contact p, li {
  font-weight: 700;
  color: black;
}

.no-show {
  display: none;
}

.show {
  display: block !important;
}

footer {
  margin: 1rem;
  padding: 1rem 0 1rem 3rem;
  border: 2px solid black;
  color: black;
  font-size: 1.3rem;
}